@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1;
  padding-top: 70px; /* To account for the fixed navbar */
}

.App-content.full-height {
  padding-top: 0;
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: auto;
}